# Customer Segmentation using K-Means Algorithm

- Customer segmentation simply means grouping your customers according to various characteristics (for example grouping customers by age).

- One very common machine learning algorithm that's suitable for customer segmentation problems is the K-Means clustering algorithm.

## Importing Libraries

In [1]:
import numpy as np 
import pandas as pd

import plotly as py
import plotly.graph_objs as go

from sklearn.cluster import KMeans

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

# import warnings
# warnings.filterwarnings("ignore", category=DeprecationWarning)

## Data Exploration

In [2]:
df = pd.read_csv('D:/AMIR/Programming/Data Analyst/Customer Segmentation using K-Means Algorithm/Mall_Customers.csv')

In [3]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40